/* Main CSS */
@import url("font-awesome/css/font-awesome.min.css");
@import url("micons/micons.css");
@import url("fonts.css");


/* Basic Font*/
html {
    font-size: 10px;
}

html,
body {
    height: 100%;
}

body {
    background: #f5f5f5;
    font-family: "roboto-regular", sans-serif;
    font-size: 1.7rem;
    line-height: 3rem;
    color: #111111;
}

/* Small reset */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    color: #34495e;
    padding-bottom: 100px;
}

figure {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none
}

a,
a:visited {
    color: #3498db
}

a:hover {
    text-decoration: underline
}

a:active {
    color: #2ecc71
}

p {
    margin: 1em 0;
    line-height: 1.4
}

/* Shuffle Css */
.my-shuffle-container {
    position: relative;
    overflow: hidden;
}

.my-sizer-element {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

img {
    display: block;
    width: 100%;
}

@supports (object-fit: cover) {
    .picture-item img {
        max-width: none;
        height: 100%;
        object-fit: cover;
    }
}

.picture-item__inner {
    position: relative;
    height: 100%;
    overflow: hidden;
    background: #ecf0f1;
}

.picture-item__details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
}

.picture-item__description {
    width: 100%;
    padding: 0 2em 1em 1em;
    margin: 0;
}

.picture-item__title {
    flex-shrink: 0;
    margin-right: 4px;
}

.picture-item__tags {
    flex-shrink: 1;
    text-align: right;
    margin: 0;
}


@media screen and (max-width: 767px) {
    .picture-item {
        height: auto;
        margin-top: 20px;
    }

    .picture-item__details,
    .picture-item__description {
        font-size: 0.875em;
        padding: 0.625em;
    }

    .picture-item__description {
        padding-right: 0.875em;
        padding-bottom: 1.25em;
    }

    .picture-item--h2 {
        height: auto;
    }
}

.filter-label {
    display: block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 4px;
    color: #95a5a6;
}

.filters-group {
    padding: 0;
    margin: 0 0 4px;
    border: 0;
}

@media screen and (min-width: 768px) {
    .filters-group-wrap {
        display: flex;
        justify-content: space-between;
    }
}

.filters-group-wrap{
    width:100%;
    padding-bottom: 20px;
}
/* Start Shuffle button CSS */
.btn-group:after, .btn-group:before {
    content: " ";
    display: table
}

.btn-group:after {
    clear: both
}

.btn-group .btn {
    float: left;
    border-radius: 0
}

.btn-group .btn:first-child {
    border-radius: 3px 0 0 3px
}

.btn-group .btn:not(:first-child) {
    margin-left: -1px
}

.btn-group .btn:last-child {
    border-radius: 0 3px 3px 0
}

.btn-group label.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}

.btn {
    display: inline-block;
    padding: .75em .8em;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #34495e;
    color: #34495e;
    font-size: 1rem;
    background-color: rgba(52, 73, 94, 0);
    transition: .2s ease-out;
    cursor: pointer;
    -webkit-appearance: none
}

@media (-moz-touch-enabled: 0),(pointer: fine) {
    .btn:hover {
        color: #fff;
        text-decoration: none;
        background-color: #34495e
    }
}

.btn:focus {
    outline-width: 0;
    box-shadow: 0 0 0 2px rgba(52, 73, 94, .4)
}

.btn.active, .btn:active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3);
    color: #fff;
    background-color: #34495e
}

.btn:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(52, 73, 94, .4)
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .7;
    color: #34495e;
    background-color: rgba(52, 73, 94, 0)
}

.btn--primary {
    color: #3498db;
    border-color: #3498db;
    background-color: rgba(52, 152, 219, 0)
}

@media (-moz-touch-enabled: 0),(pointer: fine) {
    .btn--primary:hover {
        background-color: #3498db
    }
}

.btn--primary:focus {
    box-shadow: 0 0 0 2px rgba(52, 152, 219, .4)
}

.btn--primary.active, .btn--primary:active {
    background-color: #3498db
}

.btn--primary:focus.active {
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .3), 0 0 0 2px rgba(52, 152, 219, .4)
}

.btn--primary:disabled {
    color: #3498db;
    background-color: rgba(52, 152, 219, 0)
}

@media screen and (max-width: 767px) {
    .btn {
        font-size: .875rem
    }
}

/* End Shuffle button CSS */

/* Start Container CSS */
.container {
    padding-left: 3.5%;
    padding-right: 3.5%;
}

.container:after,
.container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after,
.row:before {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.row .row {
    padding-top: 60px;
    margin-left: -8px;
    margin-right: -8px;
}

/* End Container CSS */


.aspect {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
}

.aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.aspect--16x9 {
    padding-bottom: 56.25%;
}


/* Paragraph CSS*/
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
    font-family: "montserrat-bold", sans-serif;
    color: #151515;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-bottom: 2.1rem;
}

h3, .h03, h4, .h04 {
    margin-bottom: 1.8rem;
}

h5, .h05, h6, .h06 {
    margin-bottom: 1.2rem;
}

h1, .h01 {
    font-size: 3.1rem;
    line-height: 1.35;
    letter-spacing: -.1rem;
}

@media only screen and (max-width: 600px) {
    h1, .h01 {
        font-size: 2.6rem;
        letter-spacing: -.07rem;
    }
}

h2, .h02 {
    font-size: 2.4rem;
    line-height: 1.25;
}

h3, .h03 {
    font-size: 2rem;
    line-height: 1.5;
}

h4, .h04 {
    font-size: 1.7rem;
    line-height: 1.76;
}

h5, .h05 {
    font-size: 1.4rem;
    line-height: 1.7;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

h6, .h06 {
    font-size: 1.3rem;
    line-height: 1.85;
    text-transform: uppercase;
    letter-spacing: .2rem;
}

p img {
    margin: 0;
}

p.lead {
    font-family: 'roboto-light', sans-serif;
    font-size: 2.4rem;
    line-height: 1.8;
    color: #373737;
    color: #666666;
}

@media only screen and (max-width: 768px) {
    p.lead {
        font-size: 2.1rem;
    }
}

em, i, strong, b {
    font-size: 1.7rem;
    line-height: 3rem;
    font-style: normal;
    font-weight: normal;
}

em, i {
    font-family: 'roboto-italic', sans-serif;
}

strong, b {
    font-family: 'roboto-bold', sans-serif;
}

small {
    font-size: 1.1rem;
    line-height: inherit;
}

blockquote {
    margin: 4.2rem 0;
    padding-left: 4.2rem;
    position: relative;
}

blockquote:before {
    content: "\201C";
    font-size: 10rem;
    line-height: 0px;
    margin: 0;
    color: rgba(0, 0, 0, 0.2);
    font-family: arial, sans-serif;
    position: absolute;
    top: 3.6rem;
    left: 0;
}

blockquote p {
    font-family: "roboto-light", sans-serif;
    padding: 0;
    font-size: 2.2rem;
    line-height: 1.75;
}

blockquote cite {
    display: block;
    font-family: "muli-regular", sans-serif;
    font-size: 1.4rem;
    font-style: normal;
    line-height: 1.714;
}

blockquote cite:before {
    content: "\2014 \0020";
}

blockquote cite a, blockquote cite a:visited {
    color: #373737;
    border: none;
}

abbr {
    font-family: "roboto-bold", sans-serif;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: .05rem;
    color: #2b2b2b;
}

var, kbd, samp, code, pre {
    font-family: Consolas, "Andale Mono", Courier, "Courier New", monospace;
}

pre {
    padding: 2.4rem 3rem 3rem;
    background: #EAEAEA;
    margin: 4.2rem 0;
}

code {
    font-size: 1.4rem;
    margin: 0 .2rem;
    padding: .3rem .6rem;
    white-space: nowrap;
    background: #EAEAEA;
}

pre > code {
    display: block;
    white-space: pre;
    line-height: 2;
    padding: 0;
    margin: 0;
}

pre.prettyprint > code {
    border: none;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

mark {
    background: #FFF49B;
    color: #000;
}

hr {
    border: solid #c2c2c2;
    border-width: 1px 0 0;
    clear: both;
    margin: 2.4rem 0 1.5rem;
    height: 0;
}

/* end Paragraph CSS*/

/* Start Spacing CSS */
button,
.button {
    margin-bottom: 1.2rem;
}

fieldset {
    margin-bottom: 1.5rem;
}

/* Block Grid Css*/
.bgrid {
    padding: 0 20px;
}

@media only screen and (max-width: 1024px) {
    .bgrid {
        padding: 0 18px;
    }

}

@media only screen and (max-width: 768px) {
    .bgrid {
        padding: 0 15px;
    }

}

@media only screen and (max-width: 600px) {
    .bgrid {
        padding: 0 10px;
    }

}

@media only screen and (max-width: 200px) {
    .bgrid {
        padding: 0;
    }

}

/* End Spacing CSS */

/* Start Pace.js CSS */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #000000;
    position: fixed;
    z-index: 900;
    top: 0;
    right: 100%;
    width: 100%;
    height: 5px;
}

/* End Pace.js CSS */

/* Start Preloader CSS */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    z-index: 800;
    height: 100%;
    width: 100%;
}

.no-js #preloader,
.oldie #preloader {
    display: none;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    padding: 0;
}

#loader:before {
    content: "";
    border-top: 8px solid rgba(0, 0, 0, 0.2);
    border-right: 8px solid rgba(0, 0, 0, 0.2);
    border-bottom: 8px solid rgba(0, 0, 0, 0.2);
    border-left: 8px solid #000000;
    -webkit-animation: load 1.1s infinite linear;
    animation: load 1.1s infinite linear;
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

@-webkit-keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes load {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

/* End Preloader CSS */

/* Start Filter CSS */
#filters-search-input {
    display: block;
    padding: 0.3rem 2.5rem;
    margin-right: 60px;
    outline: none;
    color: rgba(0, 0, 0, 0.7);
    font-family: "roboto-regular", sans-serif;
    font-size: 1.5rem;
    line-height: 3rem;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    min-width: 150px;
    max-width: 780px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

@media only screen and (min-width : 150px) and (max-width : 780px) {
    #filters-group-search {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 150px) and (max-width: 780px) {
    .sort-options {
        width: 95%;
        margin: 0 auto;
    }
}

/* End Filter CSS */

/* IE9 and below */
.oldie .ss-custom-select::after {
    display: none;
}

textarea {
    min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    background: #151515;
    color: white;
}

label,
legend {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.4rem;
    margin-bottom: .6rem;
    color: black;
    display: block;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-text {
    display: inline-block;
    margin-left: 1rem;
    font-family: "roboto-regular", sans-serif;
    line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
    margin: 0;
    position: relative;
    top: .15rem;
}

/**
 * Style Placeholder Text  
 */
::-webkit-input-placeholder {
    color: #777777;
}

:-moz-placeholder {
    color: #777777; /* Firefox 18- */
}

::-moz-placeholder {
    color: #777777; /* Firefox 19+ */
}

:-ms-input-placeholder {
    color: #777777;
}

.placeholder {
    color: #777777 !important;
}


/* Button CSS */
.button,
a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    font-family: "montserrat-regular", sans-serif;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    height: 5.4rem;
    line-height: 5.4rem;
    padding: 0 3rem;
    margin: 0 .3rem 1.2rem 0;
    background: #d8d8d8;
    color: #151515;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    border: none;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.button:hover,
a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
    background: #bebebe;
    color: #000000;
    outline: 0;
}

.button.button-primary,
a.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
    background: #151515;
    color: #FFFFFF;
}

.button.button-primary:hover,
a.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
    background: #000000;
}

button.full-width,
.button.full-width {
    width: 100%;
    margin-right: 0;
}

button.medium,
.button.medium {
    height: 5.7rem !important;
    line-height: 5.7rem !important;
    padding: 0 1.8rem !important;
}

button.large,
.button.large {
    height: 6rem !important;
    line-height: 6rem !important;
    padding: 0rem 3rem !important;
}

button.stroke,
.button.stroke {
    background: transparent !important;
    border: 3px solid #313131;
    line-height: 4.8rem;
}

button.stroke.medium,
.button.stroke.medium {
    line-height: 5.1rem !important;
}

button.stroke.large,
.button.stroke.large {
    line-height: 5.4rem !important;
}

button.stroke:hover,
.button.stroke:hover {
    border: 3px solid #034e4a;
    color: #034e4a;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/* ===================================================================
 *  07. other components - (_others.scss)
 *
 * ------------------------------------------------------------------- */

/* alert box - (_alert-box.scss)
 * ------------------------------------------------------------------- */
.alert-box {
    padding: 2.1rem 4rem 2.1rem 3rem;
    position: relative;
    margin-bottom: 3rem;
    border-radius: 3px;
    font-family: "roboto-regular", sans-serif;
    font-size: 1.5rem;
}

.alert-box .close {
    position: absolute;
    right: 1.8rem;
    top: 1.8rem;
    cursor: pointer;
}

.ss-error {
    background-color: #ffd1d2;
    color: #e65153;
}

.ss-success {
    background-color: #c8e675;
    color: #758c36;
}

.ss-info {
    background-color: #d7ecfb;
    color: #4a95cc;
}

.ss-notice {
    background-color: #fff099;
    color: #bba31b;
}

/*Black Quote CSS*/
.pull-quote {
    position: relative;
    padding: 2.1rem 3rem 2.1rem 0px;
}

.pull-quote:before,
.pull-quote:after {
    height: 1em;
    position: absolute;
    font-size: 10rem;
    font-family: Arial, Sans-Serif;
    color: rgba(0, 0, 0, 0.2);
}

.pull-quote:before {
    content: "\201C";
    top: 3.9rem;
    left: 0;
}

.pull-quote:after {
    content: '\201D';
    bottom: -4.8rem;
    right: 0;
}

.pull-quote blockquote {
    margin: 0;
}

.pull-quote blockquote:before {
    content: none;
}

/* Start masonry CSS */
.bricks-wrapper .entry {
    margin-bottom: 40px;
}

.bricks-wrapper .entry-thumb,
.bricks-wrapper .entry-text {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
}

.bricks-wrapper .entry-thumb {
    position: relative;
    overflow: hidden;
}

.bricks-wrapper .entry-thumb .thumb-link img {
    vertical-align: bottom;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.bricks-wrapper .entry-thumb .thumb-link::before {
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.bricks-wrapper .entry-thumb .thumb-link::after {
    content: "...";
    font-family: georgia, serif;
    font-size: 4.5rem;
    z-index: 1;
    display: block;
    height: 90px;
    width: 90px;
    letter-spacing: -2.6px;
    line-height: 90px;
    margin-left: -45px;
    margin-top: -45px;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.bricks-wrapper .entry-thumb:hover .thumb-link::before {
    opacity: 1;
    visibility: visible;
}

.bricks-wrapper .entry-thumb:hover .thumb-link::after {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.bricks-wrapper .entry-thumb:hover .thumb-link img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.bricks-wrapper .entry-text {
    padding: 1.8rem 2.8rem 3.6rem;
    background-color: white;
}

.bricks-wrapper .entry-header .entry-title {
    font-size: 2.5rem;
    line-height: 1.32;
    margin-bottom: 1.8rem;
}

.bricks-wrapper .entry-header .entry-title a,
.bricks-wrapper .entry-header .entry-title a:visited {
    color: #000000;
}

.bricks-wrapper .entry-header .entry-meta {
    font-family: "muli-regular", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
}

.bricks-wrapper .entry-header .entry-meta a,
.bricks-wrapper .entry-header .entry-meta a:visited {
    color: #000000;
}

.bricks-wrapper .entry-header .cat-links a::after {
    content: ", ";
}

.bricks-wrapper .entry-header .cat-links a:last-child::after {
    display: none;
}

.bricks-wrapper .entry-excerpt {
    font-size: 1.5rem;
    line-height: 2.7rem;
    color: #999999;
}

/* End masonry CSS */


/* Start Header CSS */
header {
    width: 100%;
    background: #DBDBDB url(../images/escheresque_@2X.png) repeat;
    background-size: 46px 29px;
    height: 130px;
    border-bottom: 1px solid #E5E5E5;
}

header .header-content {
    height: auto;
    max-width: 1290px;
    position: absolute;
    top: 24px;
    left: 0;
    right: 0;
    width: 100%;
}

header a {
    border: none;
}

@media only screen and (max-width: 400px) {
    header {
        height: 118px;
    }

}
/* End Header CSS */


/* Start Page Header */
#page-header {
    padding: 4.2rem 0 0 0;
    text-align: center;
}

#page-header .row {
    max-width: 870px;
}

#page-header h1 {
    margin-bottom: 3rem;
}

#page-header p {
    color: #999999;
}
/* End Page Header */

/* Start Content CSS*/
#content-wrap {
    margin-top: 6.6rem;
}

#content-wrap .row {
    max-width: 950px;
}

#content-wrap .row.wide {
    max-width: 1300px;
}

#content-wrap .row.narrow {
    max-width: 800px;
}

#content-wrap .content-media {
    position: relative;
    margin-bottom: 4.8rem;
}

#content-wrap .content-media img {
    vertical-align: bottom;
}

#content-wrap .primary-content {
    padding-left: 6rem;
    padding-right: 6rem;
}

#content-wrap .primary-content img {
    max-width: 910px;
}

#content-wrap .primary-content img.pull-right {
    margin: 0.9rem 0 0 2.4rem;
    max-width: 100%;
}

#content-wrap .primary-content img.pull-left {
    margin: 0.9rem 2.4rem 0 0;
    max-width: 100%;
}

#content-wrap .entry-title,
#content-wrap .page-title {
    font-size: 3.3rem;
    line-height: 1.364;
    margin-bottom: 0.9rem;
}

@media only screen and (max-width: 1024px) {
    #content-wrap .row {
        max-width: 880px;
    }

    #content-wrap .primary-content {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #content-wrap .primary-content img {
        max-width: 844px;
        margin: 3rem 0 3rem -5rem;
    }

}

@media only screen and (max-width: 960px) {
    #content-wrap .row {
        max-width: 880px;
    }

    #content-wrap .primary-content {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    #content-wrap .primary-content img {
        max-width: 100%;
        margin: 3rem 0 3rem 0;
    }

}

@media only screen and (max-width: 768px) {
    #content-wrap {
        margin-top: 4.8rem;
    }

    #content-wrap .primary-content {
        padding-left: 0;
        padding-right: 0;
    }

    #content-wrap .entry-title,
    #content-wrap .page-title {
        font-size: 3rem;
    }

}

@media only screen and (max-width: 600px) {
    #content-wrap .entry-title,
    #content-wrap .page-title {
        font-size: 2.8rem;
    }

}
/* End Content CSS*/

/* Start Brick CSS */
#bricks {
    padding-top: 10.2rem;
}

#bricks .masonry {
    max-width: 1440px;
}

#bricks .pagination {
    margin-top: 6rem;
}

#bricks.with-top-sep {
    position: relative;
}

#bricks.with-top-sep::before {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -100px;
    width: 200px;
    height: 1px;
    background-color: #D1D1D1;
}

.bricks-wrapper:before,
.bricks-wrapper:after {
    content: "";
    display: table;
}

.bricks-wrapper:after {
    clear: both;
}

.bricks-wrapper .grid-sizer,
.bricks-wrapper .brick {
    width: 25%;
}

.bricks-wrapper .brick {
    float: left;
    padding: 0 20px;
}

.bricks-wrapper .featured-grid {
    width: 50%;
}

.bricks-wrapper .featured-grid .entry-content {
    width: 100%;
    background: #151515;
}

@media only screen and (max-width: 1280px) {
    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width: 33.33333%;
    }

    .bricks-wrapper .featured-grid {
        width: 66.66667%;
    }
}

@media only screen and (max-width: 1024px) {
    .bricks-wrapper .brick {
        padding: 0 18px;
    }

}

@media only screen and (max-width: 960px) {
    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width: 50%;
    }

    .bricks-wrapper .featured-grid {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .bricks-wrapper .brick {
        padding: 0 15px;
    }

}

@media only screen and (max-width: 600px) {
    #bricks .row {
        max-width: 460px;
    }

    .bricks-wrapper .grid-sizer,
    .bricks-wrapper .brick {
        width: 100%;
        padding: 0 10px;
        clear: both;
    }
}

@media only screen and (max-width: 200px) {
    .bricks-wrapper .brick {
        width: 100% !important;
        float: none !important;
        clear: both !important;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }

}
/* End Brick CSS */

/* Start Footer CSS*/
footer {
    padding-top: 9rem;
    padding-bottom: 3rem;
    font-size: 1.5rem;
    color: #8E8E8E;
}

footer a,
footer a:visited {
    color: #000000;
}

footer [class*="col-"] {
    margin-bottom: 1.2rem;
}

footer h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1.2rem;
    margin-bottom: 1.5rem;
}

.footer-main {
    padding-bottom: 1.5rem;
}

.footer-main ul li {
    list-style: none;
}

.footer-main ul a,
.footer-main ul a:visited {
    color: #8E8E8E;
    border: none;
}

.footer-main ul a:hover,
.footer-main ul a:focus {
    color: #000000;
}

.footer-main .footer-subscribe p {
    margin-bottom: 1.5rem;
}

.footer-main .footer-subscribe .subscribe-form #mc-form {
    padding: 0;
}

.footer-main .footer-subscribe .subscribe-form input[type="email"] {
    padding: .6rem 2rem;
    background: rgba(0, 0, 0, 0.1);
    border: none;
    width: 100%;
    color: #777777;
    margin-bottom: 1.8rem;
}

.footer-main .footer-subscribe .subscribe-form input[type="submit"] {
    display: none;
}

.footer-main .footer-subscribe .subscribe-form .subscribe-message {
    font-family: "roboto-bold", sans-serif;
    font-size: 1.4rem;
    color: #000000;
}

.footer-main .footer-subscribe .subscribe-form .subscribe-message i {
    color: #000000;
    margin-right: 5px;
}

.footer-bottom {
    margin-top: 3rem;
    text-align: center;
}

.footer-bottom .copyright span {
    display: inline-block;
}

.footer-bottom .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(0, 0, 0, 0.2);
}

.footer-bottom .copyright span:last-child::after {
    display: none;
}

@media only screen and (max-width: 768px) {
    .footer-main .footer-info {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    .footer-main .row {
        max-width: 420px;
    }

    .footer-main .footer-subscribe {
        text-align: center;
    }

    .footer-main .subscribe-form form input[type="email"] {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align: center;
    }

    .footer-bottom {
        padding-bottom: .6rem;
    }

    .footer-bottom .copyright span {
        display: block;
    }

    .footer-bottom .copyright span::after {
        display: none;
    }

}

@media only screen and (max-width: 200px) {
    .footer-main .site-links,
    .footer-main .social-links {
        text-align: center;
    }

    .footer-main .site-links h4,
    .footer-main .social-links h4 {
        border: none;
    }

    .footer-main ul {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-main ul li a {
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        padding: .6rem 0;
    }

    .footer-main ul li:first-child a {
        border-top: 1px solid rgba(0, 0, 0, 0.08);
    }

}
/* End Footer CSS*/

/* Start Go to Top CSS */
#go-top {
    position: fixed;
    bottom: 24px;
    right: 30px;
    z-index: 700;
    display: none;
}

#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    height: 63px;
    width: 60px;
    line-height: 63px;
    text-align: center;
    background: #b5b5b5;
    color: #555;
    text-align: center;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#go-top a i {
    font-size: 24px;
    line-height: inherit;
}

#go-top a:visited {
    background: #b5b5b5;
    color: #555;
}

#go-top a:hover,
#go-top a:focus {
    background: #000000;
    color: #FFFFFF;
}

@media only screen and (max-width: 600px) {
    #go-top {
        bottom: 0;
        right: 0;
    }

}
/* End Go to Top CSS */

/* Start Read More post CSS */
.blog-single .entry-meta {
    font-family: "muli-regular", sans-serif;
    font-size: 1.5rem;
    list-style: none;
    margin-left: 0;
    margin-bottom: 5.4rem;
    color: #999999;
}

.blog-single .entry-meta a,
.blog-single .entry-meta a:visited {
    color: #000000;
}

.blog-single .entry-meta li {
    display: inline-block;
    padding-left: 0;
}

.blog-single .entry-meta .date {
    margin-right: 1rem;
}

.blog-single .entry-meta .cat a {
    margin-right: 5px;
}

.blog-single .entry-meta .cat a:last-child {
    margin-right: 0;
}

.blog-single .entry-meta .cat a::after {
    content: ",";
}

.blog-single .entry-meta .cat a:last-child::after {
    content: none;
}

.blog-single .tags {
    margin: 6rem 0 4.2rem;
}

.blog-single .tags span {
    color: #151515;
    margin-right: 1rem;
    font-size: 1.5rem;
    font-family: "montserrat-bold", sans-serif;
}

.blog-single .tags a {
    color: #999999;
    margin-right: 1rem;
}

.blog-single .author-profile {
    margin-top: 9rem;
    padding-left: 9rem;
    position: relative;
}

.blog-single .author-profile a,
.blog-single .author-profile a:visited {
    color: #000000;
}

.blog-single .author-profile img {
    margin: 0.6rem 0 0 0 !important;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}

.blog-single .author-profile p {
    margin-bottom: 1.2rem;
}

.blog-single .author-profile .author-social {
    list-style: none;
    margin-left: 0;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.blog-single .author-profile .author-social li {
    display: inline-block;
    margin-right: 0.8rem;
    padding-left: 0;
}

.blog-single .author-profile .author-social a {
    color: #999999;
}

.blog-single .pagenav {
    padding-top: 1.5rem;
    margin: 12rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.blog-single .pagenav div {
    padding-top: 1.5rem;
    float: left;
    width: 50%;
}

.blog-single .pagenav a {
    font-size: 2.1rem;
    line-height: 1.571;
    font-family: "montserrat-bold", sans-serif;
    border: none;
    color: #000000;
}

.blog-single .pagenav a span {
    font-size: 1.5rem;
    line-height: 3rem;
    font-family: "muli-regular", sans-serif;
    display: block;
    margin-bottom: 1.5rem;
    color: #999999;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.blog-single .pagenav a:hover span {
    color: #000000;
}

@media only screen and (max-width: 768px) {
    .blog-single .entry-meta {
        font-size: 1.5rem;
    }

    .blog-single .pagenav div {
        float: none;
        width: 100%;
    }

    .blog-single .pagenav div:first-child {
        margin-bottom: 0.9rem;
    }

}

@media only screen and (max-width: 600px) {
    .blog-single .author-profile {
        padding-left: 0;
        text-align: center;
    }

    .blog-single .author-profile img {
        position: static;
        width: 6.6rem;
        height: 6.6rem;
        margin: 0 0 0.6rem 0 !important;
    }

    .blog-single .pagenav {
        text-align: center;
    }

}
/* End Read More post CSS */

@keyframes zoom-in {
    0% {
        transform: scale(.1);
    }
    100% {
        transform: none;
    }
}